#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 206, 161, 0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
}

.app-name {
    font-family: "Lora", sans-serif;
}

.fa-plus {
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}

#message{
    color: red;
}
